@use '../../styles/partials/variables' as *; 
@use '../../styles/partials/mixins' as *;


.mainvideotext {
    &__title {
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;   
        margin-top: 16px;
        padding-left: 16px;
        padding-right: 16px;

        @include tablet {
            padding-left: 24px;
            padding-right: 24px;
            font-size: 33px;
            line-height: 44px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        @include desktop {
            margin-top: 36px;
        }
    }
    &__text {
        display: flex;
        flex-direction: row;
        border-top: 1px solid #E1E1E1;
        border-bottom: 1px solid #E1E1E1;
        margin-left: 16px;
        margin-right: 16px;

        @include tablet {
            padding-bottom: 10px;
            border-top: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: 24px;
            margin-right: 24px;
        }
        @include desktop {
            border: none;
        }
    }
    &__lefttext {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 13px;
        line-height: 18px;
        color: #AFAFAF;
        
        @include tablet{
            flex-direction: row;
            justify-content:center;
            align-items: center;
            font-size: 14px;
            line-height: 22px;

        }
      }
    &__creator {
       font-weight: 600;
       color: #323232;
       padding-right: 80px;

       @include tablet {
        margin: 0;
        padding-right: 24px;
        font-weight: 700;
       }
    }
    &__viewgroup {
        font-weight: 400;
        color: #AFAFAF;
        display: flex;

        @include tablet {
            margin: 0;
            padding-right: 16px;

        }
    }
    &__viewicon {
        padding-right: 10px;
    }

    &__righttext {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 13px;
        line-height: 18px;

        @include tablet{
            flex-direction: row;
            font-size: 14px;
            line-height: 22px;
        }
    }
    &__date {
        font-weight: 400;  
        color: #AFAFAF;  
        padding-right: 80px;
        margin-top: 0;

        @include tablet {
            margin-bottom: 0;
        }
    }
    &__likesgroup {
        font-weight: 400;
        color: #AFAFAF;
        display: flex;
        margin-top: 0;

        @include tablet {
            margin-bottom: 0;
        }
    }
    &__likeicon {
        padding-right: 10px;
    }

    // &__video {
    //     width: 100vw; 
    //     margin-top: 24px;
    //     object-fit: cover;
    //     max-height: 30vh;
        
    //     @include tablet {
    //         margin-top: 0;
    //         max-height: 40vh;
    //     }
    // }
    &__description {
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 16px;
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;

        @include tablet {
            padding-left: 24px;
            padding-right: 24px;
            font-size: 14px;
            line-height: 22px;
        }
        @include desktop {
            border-top: 1px solid #E1E1E1;
            padding-top: 24px;
        }
    }
}


