@font-face {
    font-family: Avenir Next;
    font-weight: 400;
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.woff2) format(woff2),
    url(../../assets/fonts/AvenirNextLTPro-Regular.woff) format(woff);
}
@font-face {
    font-family: Avenir Next;
    font-weight: 700;
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.woff2) format(woff2),
    url(../../assets/fonts/AvenirNextLTPro-Bold.woff) format(woff);
}
@font-face {
    font-family: Avenir Next;
    font-weight: 600;
    src: url(../../assets/fonts/AvenirNextLTPro-Demi.woff2) format(woff2),
    url(../../assets/fonts/AvenirNextLTPro-Demi.woff) format(woff);
}