@use '../../styles/partials/variables' as *; 
@use '../../styles/partials/mixins' as *;



.siteheader{

&__uploadlink {
    text-decoration: none;
    color: white;
}

&__mobile {
    padding-left: 16px;
    padding-right: 16px;

    @include tablet {
        display: none;
    }
}

&__tablet {
    display: none;

    @include tablet {
        display: flex;
        flex-direction: row;
        margin-top: 24px;
        justify-content: space-between;
        padding-left: 24px;
        padding-right: 24px;
        margin-bottom: 24px;
    }
    @include desktop {
        padding-left: 100px;
        padding-right: 100px;
    }
}

&__tabletright {
    display: flex;
    flex-direction: row;
    
}
    &__logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-height: 25px;
      max-width: 120px;
      margin-top: 16px;
      margin-bottom: 16px;

      @include tablet {
        margin: 0;
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 8px;
      }
    }
    &__search {
        border: 1px solid #E1E1E1;
        width: 100%;
        height: 40px;
        margin-right: 16px;
        display: flex;
        flex-direction: row;
        border-radius: 4px;
        background-color: #FAFAFA;

        @include tablet {
            width: 30vw;
            margin-right: 24px;
        }
        @include desktop {
            width: 20vw;
        }
    }
    &__searchinput {
        border: none;
        margin-left: 16px;
        background-color: #FAFAFA;
        width: 100%;
        font-family: "Avenir Next", "Sans-serif";
    }
    ::placeholder {
        color: #000000;
    }
    &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__searchicon {
        width: 20px;
        height: 20px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 16px;
    }
    &__searchbar {
      width: 150px;
      border: none;
    }
    &__profilepic{
        display: flex;
        border-radius: 50%;
        max-width: 36px;
        max-height: 36px;
        width: 100%;
        height: 36px;
        background-image: url(../../assets/images/Mohan-muruge.jpg);
        background-position: center;
        background-size: cover;
        background-color: #E1E1E1;

        @include tablet {
            display: none;
        }
    }
    &__profilepictablet {
        @include tablet {
            display: flex;
            border-radius: 50%;
            max-width: 36px;
            max-height: 36px;
            width: 100%;
            height: 36px;
            background-image: url(../../assets/images/Mohan-muruge.jpg);
            background-position: center;
            background-size: cover;
            background-color: #E1E1E1;
        }
    }
    &__btn {
        background-color: #0095FF;
        color: #FFFFFF;
        height: 40px;
        width: 100%;
        border: none;
        border-radius: 4px;
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        line-height: 20px;
        font-weight: 600;

        @include tablet {
            width: 25vw;
            margin-top: 0;
            margin-right: 24px;
        }
        @include desktop {
            width: 15vw;
        }
        
    }
    &__uploadicon {
        width: 20px;
        height: 20px;
        position: absolute;
        padding-right: 80%;

        @include tablet{
            padding-right: 15%;
        }
        @include desktop {
            padding-right: 9%;
        }
    }
    &__btngroup {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
  }
  